.heading {
  color: white;
}
.city-search {
  background-color: #f8f9fa;
}

.weather {
  background-color: white;
}

.border-color {
  border-color: #dfdfdf;
}

.list-item-group {
  width: 75%;
}

img {
  height: 50px;
  width: auto;
}

.forecast-img {
  height: auto;
  width: 60px;
}
